<style>
    .scheduler-checkBox-label{
        display: block;
        padding-left: 15px;
        text-indent: -15px;
        cursor: pointer;
    }
    .scheduler-checkBox{
        width: 13px;
        height: 13px;
        padding: 0;
        margin:0;
        vertical-align: bottom;
        position: relative;
        top: -1px;
        *overflow: hidden;
    }
    .close {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        filter: alpha(opacity=20);
        opacity: .2;
        margin-top: 0px;
        margin-right: 0px;
    }
    .custom-daterange-box{
        display: flex;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .custom-daterange-box-icon{
        margin-left: 48px;
    }
    .scheduler-list-style{
        height: 180px;
        overflow: auto;
    }
    .hpanel .panel-body {
        border: 1px solid #e4e5e7;
    }
    .agency-bt {
        margin-bottom:10px;
    }
</style>
<section class="content">    

    <div class="box box-primary box-l2t">
        <div class="box-header with-border">
            <h3 class="box-title">
<!--                <span>
                    Schedule Report
                </span> -->
            </h3>
            <div class="pull-right-container pull-right agency-bt">
                <div class="btn-group"> 
                    <button class="btn btn-primary btn-sm" ng-click="addNewScheduler()">New</button>
                </div>
            </div>
        </div>
        <div class="box-body chart-responsive">

            <div class="hpanel">
                <!--        <div class="panel-heading hbuilt">
                            
                        </div>-->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form class="form-horizontal">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Schedule Name</label>
                                            <div>
                                                <input type="text" placeholder="Schedule Name" ng-model="scheduler.schedulerName" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Repeat</label>
                                            <div>
                                                <select class="form-control" ng-options="schedulerRepeat for schedulerRepeat in schedulerRepeats" ng-model="scheduler.schedulerRepeatType"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="scheduler.schedulerRepeatType === 'Weekly'">
                                        <!--<div class="form-group" ng-if="scheduler.schedulerRepeatType === 'Weekly' || scheduler.schedulerRepeatType === 'Year Of Week'">-->
                                        <div class="col-md-12">

                                            <label >Select Week</label>
                                            <div>
                                                <select class="form-control" ng-options="week for week in weeks" ng-model="scheduler.schedulerWeekly"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="scheduler.schedulerRepeatType === 'Once' || scheduler.schedulerRepeatType === 'Daily' || scheduler.schedulerRepeatType === 'Weekly'">
                                        <!--<div class="form-group" ng-if="scheduler.schedulerRepeatType === 'Once' || scheduler.schedulerRepeatType === 'Daily' || scheduler.schedulerRepeatType === 'Weekly' || scheduler.schedulerRepeatType === 'Year Of Week'">-->
                                        <div class="col-md-12">
                                            <label >Time</label>
                                            <div>
                                                <input type="text" jqdatepicker-Time placeholder="Time" ng-model="scheduler.schedulerTime" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="scheduler.schedulerRepeatType === 'Monthly'">
                                        <div class="col-md-12">
                                            <label>Select Date And Time</label>
                                            <div>
                                                <input type="text" jqdatetimepicker placeholder="Select Date And Time" ng-model="scheduler.schedulerMonthly" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="scheduler.schedulerRepeatType !== 'Now'">
                                        <div class="col-md-12">
                                            <label>Start Date</label>
                                            <div>
                                                <input type="text" jqdatepicker placeholder="Start Date" ng-model="scheduler.startDate" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="scheduler.schedulerRepeatType !== 'Now'">
                                        <div class="col-md-12">
                                            <label>End Date</label>
                                            <div>
                                                <input type="text" jqdatepicker placeholder="End Date" ng-disabled ng-model="scheduler.endDate" class="form-control">
                                            </div>

                                        </div>
                                    </div>


                                    <!--                            <div class="form-group" ng-if="scheduler.schedulerRepeatType === 'Yearly'">
                                                                    <div class="col-md-12">
                                                                        <label>Select Month, Date And Time</label>
                                                                        <div>
                                                                            <input type="text" jqdatetimepicker placeholder="Select Month, Date And Time" ng-model="scheduler.schedulerYearly" class="form-control">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" ng-if="scheduler.schedulerRepeatType === 'Year Of Week'">
                                                                    <div class="col-md-12">
                                                                        <label>Year Of Week</label>
                                                                        <div>
                                                                            <ui-select ng-model="scheduler.schedulerYearOfWeek" theme="select2" ng-disabled="disabled" style="width:150px">
                                                                                <ui-select-match placeholder="Select Year Of Week...">{{$select.selected}}</ui-select-match>
                                                                                <ui-select-choices repeat="totalYearOfWeek in totalYearOfWeeks | filter: $select.search">
                                                                                    <span ng-bind-html="totalYearOfWeek | highlight: $select.search"></span>
                                                                                </ui-select-choices>
                                                                            </ui-select>
                                                                        </div>
                                                                    </div>
                                                                </div>-->


                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <label>Report</label>
                                            <div>
                                                <ui-select ng-model="scheduler.reportId" theme="select2" ng-disabled="disabled" style="min-width:225px;">
                                                    <ui-select-match placeholder="Select Report...">
                                                        <img ng-if="$select.selected.logo" style="width: 40px" ng-src="{{ $select.selected.logo}}" />
                                                        <img ng-if="!$select.selected.logo" style="width: 40px" ng-src="static/img/logos/emptyLogo.jpg" />
                                                        {{$select.selected.reportTitle}}
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="report in reports | filter: $select.search">                                
                                                        <img ng-if="report.logo" style="width: 40px" ng-src="{{ report.logo}}" />
                                                        <img ng-if="!report.logo" style="width: 40px" ng-src="static/img/logos/emptyLogo.jpg" />
                                                        <div ng-bind-html="report.reportTitle | highlight: $select.search" style="display: inline">
                                                        </div>                                
                                                        <small><span style="display: list-item;">Description : {{report.description| limitTo: 25}}{{report.description.length > 25 ? '...' : ''}}</span></small>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label>Dealer</label>
                                            <div>
                                                <ui-select ng-model="scheduler.dealerId" theme="select2" ng-disabled="disabled" style="min-width:108px;">
                                                    <ui-select-match placeholder="Select Delaers...">{{$select.selected.dealerName}}</ui-select-match>
                                                    <ui-select-choices repeat="dealer in dealers | filter: $select.search">
                                                        <span ng-bind-html="dealer.dealerName | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <!--                                <div class="col-sm-6">
                                        
                                                                            <label class="scheduler-checkBox-label">
                                                                                <span> Send to Account</span>
                                                                            </label>
                                                                            <div> <input class="scheduler-checkBox" type="checkbox" ng-checked="scheduler.isEmail == true;" ng-model="scheduler.isEmail" ng-true-value="1" />
                                                                            </div>
                                        
                                                                        </div>-->
                                        <div class="col-md-6">
                                            <label>Date Range</label>
                                            <div>
                                                <div>
                                                    <button class="drop btn btn-default" type="button">
                                                        {{scheduler.dateRangeName?scheduler.dateRangeName:"Select Date Duration"}}
                                                        <span class="caret"></span></button>
                                                    <ul class="dropdown-menu scheduler-list-style">
                                                        <li ng-click="selectDuration('Custom', scheduler)" >
                                                            <!--                                                    <a>Custom</a>-->
                                                            <div class="col-md-12 custom-picker">
                                                                <!--                                                        <label>Custom Range</label>-->
                                                                <a class="pull-right custom-daterange-box" id="customDateRange">
                                                                    <span class="date-border">
                                                                        {{scheduler.customStartDate| date: "MM/dd/yyyy"}} - {{scheduler.customEndDate| date: "MM/dd/yyyy"}} 
                                                                        <i class="custom-daterange-box-icon fa fa-caret-down"></i>
                                                                    </span>
                                                                </a> 
                                                            </div>
                                                        </li>
                                                        <!--                                            <li ng-click="selectDuration('Today', null)"><a>Today</a></li>
                                                                                                        <li ng-click="selectDuration('Yesterday', null)"><a>Yesterday</a></li>
                                                                                                        <li ng-click="selectDuration('This Week', null)"><a>This Week</a></li>
                                                                                                        <li ng-click="selectDuration('Last Week', null)"><a>Last Week</a></li>
                                                                                                        <li ng-click="selectDuration('This Month', null)"><a>This Month</a></li>
                                                                                                        <li ng-click="selectDuration('Last Month', null)"><a>Last Month</a></li>
                                                                                                        <li ng-click="selectDuration('This Year', null)"><a>This Year</a></li>
                                                                                                        <li ng-click="selectDuration('Last Year', null)"><a>Last Year</a></li>-->
                                                        <li ng-click="selectDuration('Last N Days', scheduler)">
                                                            <a>Last <input type="text"
                                                                           ng-model="scheduler.lastNdays" 
                                                                           ng-change="selectDuration('Last N Days', scheduler)" 
                                                                           class="form-control" 
                                                                           ng-model-options="{debounce: 500}"
                                                                           style="width: 60px; display: contents; height: 25px;"> 
                                                                Days
                                                            </a>
                                                        </li>
                                                        <li ng-click="selectDuration('Last N Weeks', scheduler)">
                                                            <a>Last <input type="text" 
                                                                           ng-model="scheduler.lastNweeks" 
                                                                           ng-change="selectDuration('Last N Weeks', scheduler)"
                                                                           class="form-control" 
                                                                           ng-model-options="{debounce: 500}"
                                                                           style="width: 60px; display: contents; height: 25px;"> 
                                                                Weeks
                                                            </a>
                                                        </li>
                                                        <li ng-click="selectDuration('Last N Months', scheduler)">
                                                            <a>Last <input type="text" 
                                                                           ng-model="scheduler.lastNmonths" 
                                                                           ng-change="selectDuration('Last N Months', scheduler)"
                                                                           class="form-control" 
                                                                           ng-model-options="{debounce: 500}"
                                                                           style="width: 60px; display: contents; height: 25px;"> 
                                                                Months
                                                            </a>
                                                        </li>
                                                        <li ng-click="selectDuration('Last N Years', scheduler)">
                                                            <a>Last <input type="text" 
                                                                           ng-model="scheduler.lastNyears" 
                                                                           ng-change="selectDuration('Last N Years', scheduler)"
                                                                           class="form-control" 
                                                                           ng-model-options="{debounce: 500}"
                                                                           style="width: 60px; display: contents; height: 25px;"> 
                                                                Years
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--                            <div class="form-group" ng-show="scheduler.dateRangeName === 'Custom'">
                                                                    <div class="col-md-12">
                                                                        <label>Custom Range</label>
                                                                        <div>
                                                                            <a class="pull-right custom-daterange-box" id="customDateRange">
                                                                                <span class="date-border">
                                                                                    {{scheduler.customStartDate ? scheduler.customStartDate : startDate| date: "MM/dd/yyyy"}} - {{scheduler.customEndDate ? scheduler.customEndDate : endDate| date: "MM/dd/yyyy"}} 
                                                                                    <i class="custom-daterange-box-icon fa fa-caret-down"></i>
                                                                                </span>
                                                                            </a> 
                                                                        </div>
                                                                    </div>
                                                                </div>-->
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label>Email Ids</label>
                                            <div>
                                                <ui-select multiple tagging tagging-label="" tagging-tokens="SPACE|,|/" ng-model="scheduler.schedulerEmail" on-removed="removed($item)" theme="bootstrap" ng-disabled="disabled" class="form-control">
                                                    <ui-select-match placeholder="Email Ids...">{{$item}}</ui-select-match>
                                                    <ui-select-choices repeat="accountEmail in accountEmails | filter:$select.search">
                                                        {{accountEmail}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="col-md-8">


                                            <div class="col-sm-2">
                                                <label class="scheduler-checkBox-label">
                                                    <span>PDF</span>
                                                </label>
                                                <div>
                                                    <input class="scheduler-checkBox" type="checkbox" ng-checked="scheduler.schedulerType == 'pdf'" ng-true-value="'pdf'" ng-model="scheduler.schedulerType" /> 
                                                </div>  
                                            </div>
<!--                                            <div class="col-sm-2">
                                                <label class="scheduler-checkBox-label">
                                                    <span>PPT</span>
                                                </label>
                                                <div>
                                                    <input class="scheduler-checkBox" type="checkbox" ng-checked="scheduler.schedulerType == 'ppt'" ng-true-value="'ppt'" ng-model="scheduler.schedulerType" /> 

                                                </div>
                                            </div>-->
                                            <!--                                    <div class="col-sm-2">
                                                                                    <label class="scheduler-checkBox-label">
                                                                                        <span>XLS</span>
                                                                                    </label>
                                                                                    <div>
                                                                                        <input class="scheduler-checkBox" type="checkbox" ng-checked="scheduler.schedulerType == 'xls'" ng-true-value="'xls'" ng-model="scheduler.schedulerType" /> 
                                            
                                                                                    </div>
                                                                                </div>-->

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-sm-8">
                                        <button class="btn btn-primary btn-flat btn-sm" ng-click="saveScheduler(scheduler)"> Save</button>
                                        <button class="btn btn-danger btn-sm" ui-sref="index.schedulerIndex.scheduler({accountId: accountId, accountName: accountName, startDate: startDate, endDate: endDate})"> Cancel</button>
                                    </div>
                                </div>
                            </form> 
                        </div><!--col-lg-12-->
                    </div>
                </div><!--panel-body-->
            </div>
        </div>
    </div>
</section>