<section class="content">
    <div class="box box-primary box-l2t">
        <div class="box-header with-border">
            <h3 class="box-title">
                <span></span> 
            </h3>
        </div>
        <div class="box-body chart-responsive">        
            <div class="data-table-set">
                <table class="table table-bordered table-responsive table-scheduler">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Schedule Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <!--<th>Next Execution Time</th>-->
                            <th>Last Execution Status</th>
                            <th>Type</th>
                            <!--<th>Dealer Name</th>-->
                            <th>Enable/Disable</th>
                            <th>
                                <button class="btn btn-primary btn-xs" ui-sref="index.schedulerIndex.editOrNewScheduler({accountId: accountId, accountName: accountName, schedulerId: 0, startDate: startDate, endDate: endDate})"><i class="fa fa-plus"></i></button>
                                <!--<a class="btn btn-xs" href="static/views/demo/testPdf.html" target="_blank">pdf</a>-->
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="scheduler in schedulers" ng-switch on="dayDataCollapse[$index]">
                        <tr>
                            <td ng-click="showSchedulerHistory(scheduler);selectTableRow($index, scheduler.id)">{{$index + 1}}</td>
                            <td ng-click="showSchedulerHistory(scheduler);selectTableRow($index, scheduler.id)">{{scheduler.schedulerName?scheduler.schedulerName:'-'}}</td>
                            <td ng-click="showSchedulerHistory(scheduler);selectTableRow($index, scheduler.id)">{{scheduler.startDate ? scheduler.startDate : '-'| date: 'MM/dd/yyyy'}}</td>
                            <td ng-click="showSchedulerHistory(scheduler);selectTableRow($index, scheduler.id)">{{scheduler.endDate ? scheduler.endDate : '-'| date: 'MM/dd/yyyy'}}</td>
                            <td ng-click="showSchedulerHistory(scheduler);selectTableRow($index, scheduler.id)">{{scheduler.lastExecutionStatus}}</td>
                            <td ng-click="showSchedulerHistory(scheduler);selectTableRow($index, scheduler.id)">{{scheduler.schedulerRepeatType}}</td>
                            <!--<td ng-click="showSchedulerHistory(scheduler);selectTableRow($index, scheduler.id)">{{scheduler.dealerId}}</td>-->
                            <td>
                                <div class="checkbox checkbox-slider--b schedule-on">
                                    <label class="" for="field{{$index + 1}}">
                                        <input id="field{{$index + 1}}" type="checkbox"                                             
                                               ng-click="saveSchedulerStatus(scheduler)"
                                               ng-checked="scheduler.status == 'Active'"
                                               ng-model="scheduler.status"/>
                                        <span></span>
                                    </label>
                                </div>
                            </td>
                            <td>                           
                                <button class="btn btn-default btn-xs" ui-sref="index.schedulerIndex.editOrNewScheduler({accountId: accountId, accountName: accountName, schedulerId: scheduler.id, startDate: startDate, endDate: endDate})"><span class="fa fa-pencil"></span></button>
                                <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#deleteScheduler{{scheduler.id}}"><span class="fa fa-trash"></span></button>

                                <div class="modal hmodal-success" id="deleteScheduler{{scheduler.id}}" tabindex="-1" role="dialog"  aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="color-line"></div>
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Delete</h4>
                                                <small class="font-bold"></small>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-group">
                                                        <div class="col-sm-12  col-md-12">
                                                            <span>Want to delete ?</span>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="col-sm-12">
                                                    <button type="button" class="btn btn-primary btn-xs " 
                                                            ng-click="deleteScheduler(scheduler, $index)" 
                                                            data-dismiss="modal">
                                                        <span class="fa fa-trash"></span> Yes
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs " 
                                                            data-dismiss="modal">
                                                        <span class="fa fa-times"></span> No
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!--<tr  ng-show="showTableRow[scheduler.id]">-->
                        <tr ng-switch-when="true">
                            <td colspan="9">
                                <div>
                                    <div>
                                        <table class="table table-bordered text-center">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Scheduler Name</th>
                                                    <th>Start Time</th>
                                                    <th>End Time</th>
                                                    <th>To</th>
                                                    <th>Status</th>
                                                    <th>File Name</th>
                                                </tr>                                            
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="history in schedularHistoryDetails| limitTo:-10 | orderBy: '-executionStartTime'">
                                                    <td>{{$index + 1}}</td>
                                                    <td>{{history.schedulerName}}</td>
                                                    <td>{{history.executionStartTime}}</td>
                                                    <td>{{history.executionEndTime}}</td>
                                                    <td>{{history.emailId}}</td>
                                                    <td>{{history.status}}</td>
                                                    <td>{{history.fileName}}</td>
                                                </tr>
                                                <!--                                            <tr>
                                                                                                <td colspan="8">{{schedularData}}</td> 
                                                                                            </tr>-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>