<script src="static/scripts/controllers/charts.js"></script>
<div class="col-sm-12">
    <div class="row" style="padding-top: 5%;">
        <div ng-repeat="label in labels">
            <div class="col-md-2" style="">
                <div class="well" style="background-color:{{label.labelColor}};" >
                    <h4 class="text-danger"><span class="pull-right"><span class="glyphicon glyphicon-signal"></span></span>{{label.labelName}}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4" ng-repeat="panel in panels">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-sm" style="background-color: grey;padding: 3px 3px;color:white">
                    <div class="panel-title">
                        <span class="{{panel.icon}}" style="color: white;"></span> 
                        <strong class="text-uppercase">{{panel.chartType}} chart</strong>
                        <span>
                            <span data-toggle="modal">
                                <span class="fa fa-edit" style="color:white;background-color: grey;"></span>                                    
                            </span>                                
                        </span>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="graph{{panel.chartId}}"></div>
                </div>
            </div>
        </div>
    </div>
</div>