
<div ng-controller="TabController">
    <section class="content-header">
        <h1> {{dashboardName | uppercase}} <small>Dashboard</small> </h1>
        <ol class="breadcrumb">
            <li><a href=" "><i class="fa fa-dashboard"></i> L2tmedia</a></li>
            <li class="active">Here</li>
        </ol>
    </section>
    <section class="content"> 
        <div class="row">
            <div class="col-md-12">
                <div class="panel with-nav-tabs">
                    <ui-view></ui-view>                    
                </div>
            </div>
        </div>
    </section> 
</div>
