<!--<style>
    table,td, th {
        border:1px solid black;
        padding: 5px;
        border-collapse: collapse; 
    }
    th{
        background-color: grey;
        color:white;
    }
</style>-->
<div ng-controller="PanelController">   
    <div class="col-md-6" ng-repeat="panel in panels">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <span class="{{panel.icon}}"></span> 
                    <span class="text-uppercase">{{panel.chartType}}</span>
                </h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#preview{{$index + 1}}" data-widget=""><i class="fa fa-pencil"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget=""><i class="fa fa-refresh"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body chart-responsive">
                <center><div id="widget{{panel.chartId}}"></div></center>
                <!--<div class="chart" id="line-chart" style="height: 300px;"></div>-->
            </div> 
        </div>
        <div class="modal fade" id="preview{{$index + 1}}">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        Chart
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-6"> 
                            <div class="form-group">
                                <div class="form-control">
                                    <div class="col-md-4"><label>Data Source</label></div>
                                    <div class="col-md-8">
                                        <ui-select ng-model="ctrl.person.datasource" theme="bootstrap">
                                            <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item in ctrl.people | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                        <input type="text" class="form-control" placeholder="Title" ng-model="panel.title"><br>
                                                <input type="text" class="form-control" placeholder="Url" ng-model="panel.url"><br>
                                                <div class="form-inline">
                                                    <label class="col-sm-2" style="font-family:cursive">Type</label>
                                                    <span ng-repeat="chartType in chartTypes track by chartType.id">
                                                        <span ng-click="previewChart(chartType, panel);" class="previewChart" title="{{chartType.name}}">
                                                            <img src="{{chartType.url}}" class="charttype">
                                                        </span>
                                                    </span>
                                                </div><br/>
                        
                                                <div class="form-group form-inline">
                                                    <label class="col-sm-2" style="font-family: cursive">Preview</label>    
                                                    <center><div id="previewChart{{panel.chartId}}" class="chartpreview" ng-model="panel.preview"></div></center>
                                                </div>-->
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" ng-click="save(panel)" data-dismiss="modal"><span class="fa fa-save"></span> Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--    <div class="panel panel-default">       

        <div class="panel-body">
            <div class="row"  ngsf-fullscreen="fullscreenCtrl">
                <div ng-repeat="panel in panels" class="col-sm-4">
                    <div ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
                        <div class="panel panel-default sample" ng-drag="true" ng-drag-data="panel">
                            <div class="panel-heading panel-heading-sm">
                                <div class="panel-title">
                                    <span class="{{panel.icon}}"></span> 
                                    <span class="text-uppercase">{{panel.chartType}}</span>
                                    <span class="pull-right">
                                        <span class="fa fa-refresh icon" ></span>
                                        <span data-toggle="modal" data-target="#preview{{$index + 1}}" ><span class="fa fa-edit icon"></span></span>
                                                                                <span ng-click="hidenewchart = true" ><span class="fa fa-close icon"></span></span>
                                        <span ng-click="removePanel($index)" ><span class="fa fa-close icon"></span></span>
                                    </span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <center><div id="widget{{panel.chartId}}"></div></center>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>-->
<!--</div>-->
