<style>
    .ui-select-bootstrap .ui-select-toggle > .caret {
        position: absolute;
        height: 10px;
        top: 50%;
        right: 10px;
        margin-top: -2px;
        padding: 0px;
    }
</style>

<div>
    <div class="container-fluid" style="padding:5px;">
        <div class="pull-right l2t-tab">
            <a class="btn btn-warning" ng-click="add()"><i class="fa fa-plus"></i> Add New</a>
            <a class="btn btn-warning" ng-click="fullscreenCtrl.toggleFullscreen()"><i class="fa fa-arrows-alt"></i> Full screen</a>
            <a class="btn btn-warning" ng-click="pageRefresh()"><i class="fa fa-refresh"></i> Refresh</a>
        </div><br><br><br/>

        <div class="box box-info light" style="margin-bottom:0px;">
            <div class="box-header with-border light-blue">
                <h3 class="box-title">Questions?</h3>
            </div>
        </div>
    </div>

    <div ng-repeat="widget in widgets">
        <div class="col-md-{{2 * widget.width}} widgetsize" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
            <div class="box box-primary" ng-hide="hidenewchart" ngsf-fullscreen="widgetCtrl" ng-drag="true" ng-drag-data="widget">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <span class="{{widget.icon}}"></span> 
                        <span class="text-uppercase">{{widget.chartType}}</span>
                    </h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#preview" data-widget=""><i class="fa fa-pencil"></i>
                        </button>
                        <button type="button" ng-if="widget.chartType == 'line'" class="btn btn-box-tool" data-widget="" ng-click="directiveLineFn()"><i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" ng-if="widget.chartType == 'area'" class="btn btn-box-tool" data-widget="" ng-click="directiveAreaFn()"><i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" ng-if="widget.chartType == 'bar'" class="btn btn-box-tool" data-widget="" ng-click="directiveBarFn()"><i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" ng-if="widget.chartType == 'pie'" class="btn btn-box-tool" data-widget="" ng-click="directivePieFn()"><i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" ng-if="widget.chartType == 'donut'" class="btn btn-box-tool" data-widget="" ng-click="directiveDonutFn()"><i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" ng-if="widget.chartType == 'groupedBar'" class="btn btn-box-tool" data-widget="" ng-click="directiveGroupedBarFn()"><i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" ng-if="widget.chartType == 'table'" class="btn btn-box-tool" data-widget="" ng-click="directiveTableFn()"><i class="fa fa-refresh"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                    </div>
                </div>
                <div id="{{widget.chartId}}" class="box-body chart-responsive" ng-if="widget.chartType == 'line'">
                    <center><div set-Line-Chart-Fn="setLineFn(lineChartFn)" line-Chart-Directive line-Chart-Url='{{widget.url}}' collection='{{widget}}' line-Chart-Id='{{widget.chartId}}' style="min-height:{{widget.minHeight}}"></div></center>
                </div>
                <div id="{{widget.chartId}}" class="box-body chart-responsive" ng-if="widget.chartType == 'area'">
                    <center><div set-Area-Chart-Fn="setAreaFn(areaChartFn)" area-Chart-Directive area-Chart-Url='{{widget.url}}' style="min-height:{{widget.minHeight}}"></div></center>
                </div> 
                <div id="{{widget.chartId}}" class="box-body chart-responsive" ng-if="widget.chartType == 'bar'">
                    <center><div set-Bar-Chart-Fn="setBarFn(barChartFn)" bar-Chart-Url='{{widget.url}}' bar-Chart-Directive bar-Chart-Id='{{widget.chartId}}' style="min-height:{{widget.minHeight}}"></div></center>
                </div> 
                <div id="{{widget.chartId}}" class="box-body chart-responsive" ng-if="widget.chartType == 'pie'">
                    <center><div set-Pie-Chart-Fn="setPieFn(pieChartFn)" pie-Chart-Url='{{widget.url}}' pie-Chart-Directive pie-Chart-Id='{{widget.chartId}}' style="min-height:{{widget.minHeight}}"></div></center>
                </div> 
                <div id="{{widget.chartId}}" class="box-body chart-responsive" ng-if="widget.chartType == 'donut'">
                    <center><div set-Donut-Chart-Fn="setDonutFn(donutChartFn)" Donut-Chart-Fn="setDonutFn(donutChartFn)" donut-Chart-Url='{{widget.url}}' donut-Chart-Directive donut-Chart-Id='{{widget.chartId}}' style="min-height:{{widget.minHeight}}"></div></center>
                </div> 
                <div id="{{widget.chartId}}" class="box-body chart-responsive" ng-if="widget.chartType == 'groupedBar'">
                    <div set-Grouped-Bar-Chart-Fn="setGroupedBarFn(groupedBarChartFn)" grouped-Bar-Chart-Url='{{widget.url}}' grouped-Bar-Chart-Directive grouped-Bar-Chart-Id='{{widget.chartId}}' style="min-height:{{widget.minHeight}}"></div>
                </div> 
                <div id="{{widget.chartId}}" class="box-body chart-responsive" ng-if="widget.chartType == 'table'">
                    <center><div set-Table-Fn="setTableFn(tableFn)" dynamic-Table-Url='{{widget.url}}' dynamic-Table dynamic-Table-Id='{{widget.chartId}}' style="min-height:{{widget.minHeight}}"></div></center>
                </div>  
            </div>
        </div>
    </div>
    <div id="preview" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#337AB7;color:white;">
                   <strong> CHART</strong>
                    <strong><button class="close" data-dismiss="modal" style="color:white;">&times;</button></strong>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2">Data Source</label>
                            <div class="col-sm-4">
                                <ui-select ng-model="dataSet" on-select="selectedDataSource(dataSet)" theme="bootstrap">
                                    <ui-select-match placeholder="">{{$select.selected}}</ui-select-match>
                                    <ui-select-choices repeat="datasource in datasources | filter: $select.search">
                                        <div ng-bind-html="datasource | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>                                         
                            </div>

                            <label class="col-sm-2">Data Set</label>
                            <div class="col-sm-4">
                                <ui-select multiple ng-model="dataSet" on-select="selectedDataSet(dataSet)" theme="bootstrap" ng-disabled="disabled">
                                    <ui-select-match placeholder="Select Data Set...">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="dataSet in dataSets | filter:$select.search">
                                        {{dataSet.displayName}}
                                    </ui-select-choices>
                                </ui-select> 
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Dimensions</label>
                            <div class="col-sm-4">
                                <ui-select multiple on-select="selectedDimensions(dimension)" ng-model="dimension" theme="bootstrap" ng-disabled="disabled">
                                    <ui-select-match placeholder="Select Dimensions...">{{$item.name}}</ui-select-match>
                                    <ui-select-choices repeat="dataDimension in dataDimensions | filter:$select.search">
                                        {{dataDimension.displayName}}
                                    </ui-select-choices>
                                </ui-select>                                    
                            </div>
                            <label class="col-sm-2">Filter</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Filter">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Sort</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="Sort">
                            </div>

                            <label class="col-sm-2">Widget Title</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" placeholder="title">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Url</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Url" ng-model="widget.url">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Type</label>
                            <div class="col-sm-10">
                                <span ng-repeat="chartType in chartTypes track by chartType.id">
                                    <span ng-click="previewChart(chartType, widget);" class="previewChart" title="{{chartType.name}}">
                                        <img src="{{chartType.url}}" class="charttype">
                                    </span>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2">Preview</label>
                            <div class="col-sm-12">
                                <!--<div id="previewChart{{widget.chartId}}" class="chartpreview" ng-model="widget.preview"></div>-->
                                <div class="box-body chart-responsive" ng-if="previewChartType == 'line'">
                                    <div line-Chart-Url='{{previewChartUrl}}' line-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                </div> 
                                <div class="box-body chart-responsive" ng-if="previewChartType == 'area'">
                                    <div area-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                </div> 
                                <div class="box-body chart-responsive" ng-if="previewChartType == 'bar'">
                                    <div bar-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                </div> 
                                <div class="box-body chart-responsive" ng-if="previewChartType == 'pie'">
                                    <div pie-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                </div> 
                                <div class="box-body chart-responsive" ng-if="previewChartType == 'donut'">
                                    <div donut-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                </div> 
                                <div class="box-body chart-responsive" ng-if="previewChartType == 'groupedBar'">
                                    <div grouped-Bar-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                </div> 
                                <div ng-show="previewChartType == 'table'" class="box-body chart-responsive" style="overflow: auto;">
                                    <div preview-Dynamic-Table style="min-height:{{widget.minHeight}}"></div>
                                </div> 
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer" style="padding:10px;">
                    <button class="btn btn-primary" ng-click="save(widget)" data-dismiss="modal"><span class="fa fa-save"></span> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
