<!--<footer class="navbar-fixed-bottom text-center"> 
     To the right  
     Default to the left  
    <strong>Copyright &copy; 2016 <a href="#">L2T Media</a>.</strong> All rights reserved. </footer>
<footer class="navbar-fixed-bottom text-center">
    © 2023 Visumbu IT Solutions (P) Ltd. All Rights Reserved.
</footer>-->
 
                <!-- To the right --> 
                <!-- Default to the left --> 
                <strong>Copyright &copy; 2016 <a href="#">L2T Media</a>.</strong> All rights reserved. 