<nav class="navbar navbar-fixed-top" style="min-height: 0px">
    <ul class="list-inline" style="margin-bottom: 0px">
        <li><img src="static/img/digital.png" class ="digitalLogo"></li>
        <li><img src="static/img/visumbu.png" class ="visumbuLogo"></li>
        <li><a href="#" class="btn btn-default" id="menu-toggle"><span class="fa fa-navicon"></span></a></li> 
        
        <li class="pull-right">
            <select>
                <option>Sep 11-Oct 10</option>
            </select>
        </li>
        <li class="pull-right">
            <select>
                <option>Overall</option>
                <option>Paid Search</option>
                <option>Display</option>
                <option>Dynamic Display</option>
            </select>
        </li>
        <li class="pull-right">
            <select>
                <option>Dealers</option>
            </select>
        </li>
        
        
    </ul>
<!--    <a href="#" class="btn btn-default" id="menu-toggle"><span class="fa fa-navicon"></span></a>
    <span class="companyLogo"><img src="static/img/visumbu.png" class="companyImage"></span>

    <span class="pull-right">
        <button ng-click="add()" class="btn btn-success buttonadd"><span class="fa fa-plus"></span></button>
        <button class="btn btn-warning" ng-click="fullscreenCtrl.toggleFullscreen()" ><span class="fa fa-expand"></span></button>
    </span>-->
</nav>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>