<nav class="navbar navbar-fixed-top" style="min-height: 0px" ng-controller="HeaderController">
    <ul class="list-inline" style="margin-bottom: 0px">
        <li><img src="static/img/digital.png" class ="digitalLogo"></li>
        <li><img src="static/img/visumbu.png" class ="visumbuLogo"></li>
        <li><a href="#" class="btn btn-default" id="menu-toggle"><span class="fa fa-navicon"></span></a></li> 

        <li class="pull-right">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select Date
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="">12-Apr-2016</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="pull-right">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">{{selectName}}
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li ng-repeat="dashboard in dashboards">
                        <a ui-sref="index.dashboard.tab({tabId: dashboard.dashboardValue})" ng-click="change(dashboard)">
                            {{dashboard.dashboardName}}
                        </a>
                    </li>
                </ul>
            </div>

        </li>
        <li class="pull-right">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select Type
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="">Dealers</a>
                    </li>
                </ul>
            </div>
        </li>


    </ul>

</nav>

<script>
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>