<div  ng-controller="DashboardController">
    <div ng-include="'static/views/vb.header.html'"></div>
    <div id="wrapper">        
        <div id="sidebar-wrapper" ng-include="'static/views/vb.leftSideMenu.html'"></div>
        <div class="row fullscreen" ngsf-fullscreen="fullscreenCtrl">
            <!--<div ng-include="'static/views/dashboard/dashboard.html'"></div>-->
            <ui-view></ui-view>
        </div>
    </div>
    <div ng-include="'static/views/vb.footer.html'"></div>
</div>