
<!--<div ng-controller="DashboardController">    
    <div class="content-wrapper">
        <ui-view></ui-view>
    </div>
    <div ng-include="'static/views/vb.footer.html'"></div>
        <div ng-include="'static/views/vb.header.html'"></div>
        <div id="wrapper">        
            <div id="sidebar-wrapper" ng-include="'static/views/vb.leftSideMenu.html'"></div>
            <div class="fullscreen" ngsf-fullscreen="fullscreenCtrl">
                <ui-view></ui-view>
            </div>
        </div>
        <div ng-include="'static/views/vb.footer.html'"></div>
</div>-->
 
<!--<div class="content-wrapper">
    <ui-view></ui-view>
</div>-->
<!--</div>-->