nav.navbar-fixed-top{
    background-color:rgb(228,228,228);
    padding: 1vh;
    height:10px;
}
/*#menu-toggle{
    background-color: gold;
}*/
.companyLogo{
    padding-left:40vw;
}
.companyImage{
    height:5vh;
    width:14vw;
    background-color: white;
}

.fullscreen{
    background-color: #FFFFFF;
}

div.col-sm-12{
    padding-left: 40px;
    padding-right: 40px;
}
div.col-sm-4{
    margin-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}
h4.text-danger{
    color:white;
}
div.col-sm-4{
    margin-bottom: -10px;
    padding-left: 2px;
    padding-right: 2px;
}
div.panel-info{
    border:1px solid grey;
}


strong.text-uppercase{
    color: white;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}


div.chartpreview{
    width:30vw;
    height:30vh;
}
img.charttype{
    height:4vh;
    width:2vw;
    cursor: pointer;
}
span.previewChart{
    padding: 1vw;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background:rgb(228,228,228);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #FFFFFF;
    background: darkgrey;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 35px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


footer {
    position: fixed;
    height: 3vh;
    bottom: 0;
    width: 100%;
    background-color: rgb(228,228,228);
    color:black;
}

/*drag and drop*/ 
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

[ng-drag] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


[ng-drop] div {
    position: relative;
    z-index: 2;
}
