div.col-sm-4{
    resize:both;
    overflow:hidden;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    // border:1px solid grey;

}
div.panel{
    margin-bottom:0px;
}
.addButton{
    background-color: #74C4C6;
}
.fullScreenButton{
    background-color: #F1883C;
}
div.well-sm{
    background-color: grey;
    color:white;
}
div.panel-heading-sm{
    background-color: grey;
    padding: 3px 3px;
    color:white;
}