<style>
    .red {
        color:red;
    }
    .green {
        color:#555;
    }
    .fa-heart{
        font-size: 13px !important;
        cursor:pointer;
    }
    span.stars, span.stars span {
        display: block;
        background: url('static/img/logos/stars.png') 0 -16px repeat-x;
        width: 80px;
        height: 16px;
    }

    span.stars span {
        background-position: 0 0;
    }

    .alignright {
        float:right;
    }

    .report-bottomMenu{
        z-index: 9999;
        position: fixed;
        border: 1px solid #ccc;
        background-color: #FFF;
        font-size: 12px;
        width: 300px;
        height: 466px;
        right: 70px;
        bottom: 0px;
        padding: 0;

    }
    .report-menuBody{
        padding: 18px 0px 0px 0px;
    }
    .report-menuHeader{
        background: #304445 none repeat scroll 0 0 !important;
        border-bottom: 3px solid #ccc;
        color: #fff;
        display: table;
        width: 100%;
        padding: 8px;
    }
    .report-header-icon{
        border: 2px solid #5a7172;
        border-radius: 12px;
        float: left;
        width: 14px;
        margin: 3px;
    }
    .report-header-title{
        float: left;
        font-size: 18px;
        margin: 0px 0px 5px 5px;
    }
    .report-header-tools{
        margin: 2px 0 0;
    }
    .report-header-closeBtn{
        background: transparent none repeat scroll 0 0;
        border: 1px solid #fff;
        border-radius: 7px;
        font-size: 10px;
        height: 17px;
        opacity: 0.9;
        padding: 0;
        text-align: center;
        width: 18px;
    }
    .report-body-content{
        padding: 16px;
        overflow: auto;
        height: 258px;
    }
    .report-body-img{
        float: left;
    }
    .report-body-imgs.in{
        border-radius: 50%;
        width: 74px;
    }
    .report-body-imgs{
        border: 0 none;
        box-sizing: border-box;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
    .report-body-descr{
        list-style: outside none none;
        padding: 0;
        float: left;
        margin: 0 0 0 20px;
        max-width: 62%;
    }
    .report-desc-list{

        color: #000000;
        border-radius:5px;
        clear: both;
        display: block;
        border: 1px solid #ddd;
        float: left;
        font-size: 13px;
        padding: 8px 16px;
        position: relative;
        margin: 0;
        list-style: outside none none;
        word-break: break-all;
    }
    .report-footer-btn{
        padding: 16px;
    }
</style>

<section class="content-header">
    <div class="container">
        <!--<div class="dropdown-features col-md-12"></div>-->
        <div class="col-md-12">
            <h2>
                Favourites
            </h2>
        </div>
    </div>
</section>

<section class="content-wrapper">
    <div class="container">
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!--<div class="row content">-->
                    <div ng-repeat="favouritesWidget in favouritesWidgets">
                        <div class="col-md-{{favouritesWidget.widgetId.width}}" ng-drop="true" ng-drop-success="onDropComplete($index, $data, $event)">
                            <div class="box box-primary box-l2t" ng-hide="hidenewchart" ngsf-fullscreen="widgetCtrl" ng-drag="true" ng-drag-data="reportWidget">
                                <div class="box-header with-border">
                                    <h3 class="box-title">
                                    <span class="{{favouritesWidget.widgetId.icon}}"></span> 
                                    <span class="text-capitalize">{{favouritesWidget.widgetId.widgetTitle}}</span>
                                    </h3>
                                    <div class="box-tools pull-right">
                                        <a title="Favourites" ng-click="toggleFavourite(favouritesWidget, $index)">
                                            <i class="fa fa-heart" ng-class="{'red':favouritesWidget.widgetId.isFav, 'black': !favouritesWidget.widgetId.isFav}"></i>
                                        </a>
                                        <a ng-show="showCreateReport" title="Report" ng-click="showReportList[widget.id] = true;"><i class="fa fa-file-text"></i></a>                                        
                                        <a title="Report" ng-click="showReportList[favouritesWidget.widgetId.id] = true;"><i class="fa fa-file-text"></i></a>
                                        <a class="edit" ng-click="favEditWidget(favouritesWidget.widgetId)"><i class="fa fa-pencil"></i>
                                        </a>
                                        <a class="closebox" data-toggle="modal" data-target="#delete{{favouritesWidget.widget.id.tab.id}}" title="Delete"><i class="fa fa-times"></i></a>
                                        <div id="delete{{reportWidget.id}}" class="modal">
                                            <div class="modal-dialog modal-lg">
                                                <div class="modal-content">
                                                    <div class="modal-header" style="background-color:#9DD6D7;color:black;">
                                                        <strong>Delete</strong>
                                                        <strong><button class="close" data-dismiss="modal">&times;</button></strong>
                                                    </div>
                                                    <div class="modal-body">
                                                        <span>Want to delete ? </span>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-info btn-xs" ng-click="deleteReportWidget(favouritesWidget, $index)" data-dismiss="modal">Yes</button>
                                                        <button class="btn btn-danger btn-xs" data-dismiss="modal">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="box-body" ng-if="favouritesWidget.widgetId.chartType === 'line'">
                                    <div line-Chart-Directive line-Chart-Url="{{favouritesWidget.widgetId.directUrl}}" 
                                         widget-Date-Duration="{{favouritesWidget.widgetId.dateDuration}}" 
                                         widget-Frequency-Duration="{{favouritesWidget.widgetId.frequencyDuration}}" 
                                         widget-Custom-Range="{{favouritesWidget.widgetId.customRange}}" widget-Id="{{favouritesWidget.widgetId.id}}" 
                                         widget-Columns="{{favouritesWidget.widgetId.columns}}">                                 
                                    </div>
                                </div> 
                                <div class="box-body" ng-if="favouritesWidget.widgetId.chartType === 'bar'">
                                    <div bar-Chart-Directive bar-Chart-Url="{{favouritesWidget.widgetId.directUrl}}" 
                                         widget-Date-Duration="{{favouritesWidget.widgetId.dateDuration}}" 
                                         widget-Frequency-Duration="{{favouritesWidget.widgetId.frequencyDuration}}" 
                                         widget-Custom-Range="{{favouritesWidget.widgetId.customRange}}" widget-Id="{{favouritesWidget.widgetId.id}}" 
                                         widget-Columns="{{favouritesWidget.widgetId.columns}}">                                 
                                    </div>
                                </div> 
                                <div class="box-body" ng-if="favouritesWidget.widgetId.chartType === 'pie'">
                                    <div pie-Chart-Directive pie-Chart-Url='{{favouritesWidget.widgetId.directUrl}}' 
                                         widget-Date-Duration="{{favouritesWidget.widgetId.dateDuration}}" 
                                         widget-Frequency-Duration="{{favouritesWidget.widgetId.frequencyDuration}}" 
                                         widget-Custom-Range="{{favouritesWidget.widgetId.customRange}}" widget-Id="{{favouritesWidget.widgetId.id}}" 
                                         widget-Columns="{{favouritesWidget.widgetId.columns}}">                                 
                                    </div>
                                </div> 
                                <div class="box-body" ng-if="favouritesWidget.widgetId.chartType === 'area'">
                                    <div area-Chart-Directive area-Chart-Url="{{favouritesWidget.widgetId.directUrl}}" 
                                         widget-Date-Duration="{{favouritesWidget.widgetId.dateDuration}}" 
                                         widget-Frequency-Duration="{{favouritesWidget.widgetId.frequencyDuration}}" 
                                         widget-Custom-Range="{{favouritesWidget.widgetId.customRange}}" widget-Id="{{favouritesWidget.widgetId.id}}" 
                                         widget-Columns="{{favouritesWidget.widgetId.columns}}">                                 
                                    </div>
                                </div> 
                                <div class="box-body chart-responsive" ng-if="favouritesWidget.widgetId.chartType === 'table'"  style="overflow: auto;">
                                    <div dynamic-Table dynamic-Table-Url="{{favouritesWidget.widgetId.directUrl}}" 
                                         set-Table-Chart-Fn="setTableFn(tableChartFn)"
                                         widget-Date-Duration="{{favouritesWidget.widgetId.dateDuration}}" 
                                         widget-Frequency-Duration="{{favouritesWidget.widgetId.frequencyDuration}}" 
                                         widget-Custom-Range="{{favouritesWidget.widgetId.customRange}}" widget-Id="{{favouritesWidget.widgetId.id}}" 
                                         widget-Obj="{{favouritesWidget.widgetId}}" table-Footer="{{favouritesWidget.widgetId.tableFooter}}" 
                                         widget-Columns="{{favouritesWidget.widgetId.columns}}">                                     
                                    </div> 
                                </div> 
                            </div>
                        </div>
                        <div class="report-bottomMenu pull-right" ng-show="showReportList[favouritesWidget.widgetId.id]">
                            <div class="report-menuHeader">
                                <div class="col-md-10">
                                    <!--<i class="report-header-icon fa fa-user" title="{{widget.widgetTitle}}"></i>-->
                                    <h1 class="report-header-title">Add {{favouritesWidget.widgetId.widgetTitle}} To Report</h1>
                                </div>
                                <div class="report-header-tools pull-right">
                                    <button class="report-header-closeBtn" ng-click="clearReport(); showReportList[favouritesWidget.widgetId.id] = false;"><i class="fa fa-close"></i></button>
                                </div>
                            </div>
                            <div class="report-menuBody">
                                <label class="col-sm-2">Report</label>
                                <div class="col-sm-10">
                                    <ui-select ng-model="favouritesWidget.widgetId.reportWidget" on-select="selectReport(favouritesWidget.widgetId.reportWidget)" theme="select2" ng-disabled="disabled" style="width: 220px;">
                                        <ui-select-match placeholder="Select Report...">{{$select.selected.reportTitle}}</ui-select-match>
                                        <ui-select-choices repeat="report in reportList | filter: $select.search">
                                            <span ng-bind-html="report.reportTitle | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="report-body-content">
                                    <div class="row report-chat-box">
                                        <div class="report-body-img">
                                            <img class="report-body-imgs in" src="{{favouritesWidget.reportLogo}}">
                                        </div>
                                        <div class="form-group">
                                            <ul class="report-body-descr" ng-if="reportDescription">
                                                <li class="report-desc-list" ng-init="limit = 150; moreShown = false">
                                                    <p>
                                                        {{reportDescription| limitTo: limit}} {{reportDescription.length > limit ? '...' : ''}}
                                                        <a ng-show="reportDescription.length > limit" href ng-click="limit = reportDescription.length; moreShown = true">  More</a>
                                                        <a ng-show="moreShown" href ng-click="limit = 150; moreShown = false"> Less </a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <table class="table table-bordered" ng-show="showReportWidgetName">
                                                <thead>
                                                    <tr>
                                                        <th>Sl.No</th>
                                                        <th>Widget Name</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="titleName in reportWidgetTitle">
                                                        <td>{{$index + 1}}</td>
                                                        <td>{{titleName.widgetId.widgetTitle}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div ng-show="showReportEmptyMessage">
                                                <span><h4>{{reportEmptyMessage}}</h4></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="report-footer-btn">
                                    <button class="btn btn-success pull-left" ng-click="goReport()">Goto Report</button>
                                    <button class="btn btn-success" ng-click="addWidgetToReport(favouritesWidget); showReportList[favouritesWidget.widgetId.id] = false;" style="float: right">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>