
<!--    <div class="pull-right">
        <a class="mail-to" href="mailto:accounts@l2tmedia.com"><i class="fa fa-envelope"></i> accounts@l2tmedia.com</a>&nbsp;&nbsp;<i class="fa fa-phone"></i> 1(800)233-2742
    </div>
    <strong>Copyright &copy; 2016 <a class="mail-to" href="#">L2T Media</a>.</strong> All rights reserved.
    <div class="clearfix"></div>-->

    <span class="pull-right">
        <a class="mail-to" href="mailto:info@deetaanalytics.com"><i class="fa fa-envelope"></i> info@deetaanalytics.com</a>&nbsp;&nbsp;<i class="fa fa-phone"></i> (773)-446-7565
    </span>
    <strong>Copyright &copy; 2016 <a class="mail-to" href="#">Deeta Analytics</a>.</strong> All rights reserved.
    