<style>
    .select2 > .select2-choice.ui-select-match {
        height: 29px;
    }
    .selectize-control > .selectize-dropdown {
        top: 36px;
    }
    .select-box {
        background: #fff;
        position: relative;
        z-index: 1;
    }
    .alert-info.positioned {
        margin-top: 1em;
        position: relative;
        z-index: 10000;
    }   
</style>

<div ng-controller="HeaderController">
    <a href="" class="logo"> 
        <span class="logo-mini"><img src="static/img/logo-mobile.png" width="30" /></span> 
        <span class="logo-lg"><img src="static/img/logos/l2tmedia.png" width="150" /></span> 
    </a>
    <!--    <li class="pull-right user user-menu mobile-navbar visible-xs">
            <a class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
        </li>-->
    <!--Mobile Device-->
    <!--    <section class="mobile-l2t-header" >
            <ol class="breadcrumb mobile-navbar visible-xs mobile-l2t-navbar">
                <li class="pull-right user user-menu">
                    <a data-toggle="dropdown" class="logout">
                        <i class="fa fa-user" style="font-size:20px;"></i> {{userName}}</a>
                    <ul class="dropdown-menu pull-left">
                        <li><a href="admin/user/logout">Logout</a></li>
                    </ul>
                </li>
                <li class="pull-left">
                <ui-select ng-model="selectDealer.selected" on-select="getDealerId(selectDealer.selected); loadNewUrl()" theme="selectize" ng-disabled="disabled" style="width:180px;">
                    <ui-select-match placeholder="Select Dealer...">{{$select.selected.dealerName}}</ui-select-match>
                    <ui-select-choices repeat="dealer in dealers | filter: $select.search">
                        <a>
                            <span ng-bind-html="dealer.dealerName | highlight: $select.search"></span>
                            <small ng-bind-html="country.code | highlight: $select.search"></small>
                        </a>
                    </ui-select-choices>
                </ui-select>
                </li>
                <li class="pull-left">              
                    <a id="daterange-btn">
                                        <i class="fa fa-calendar" id="date"></i>
                        <span class="date-border">
                            {{firstDate| date: "MM/dd/yyyy"}} - {{lastDate| date: "MM/dd/yyyy"}} <i class="fa fa-caret-down"></i>
                        </span>
                    </a>                   
                </li>
                <li> <span class="label label-info" ng-click="loadNewUrl()">Go</span></li>
            </ol>
        </section>-->

    <!--Desktop Device-->
    <section class="content-header header-menu" >
        <!--<ol class="breadcrumb hidden-xs">-->
        <ol class="breadcrumb">
            <li>
            <ui-select ng-model="selectDealer.selected" on-select="getDealerId(selectDealer.selected); loadNewUrl()" theme="selectize" ng-disabled="disabled" style="width:180px;">
                <ui-select-match placeholder="Select Dealer...">{{$select.selected.dealerName}}</ui-select-match>
                <ui-select-choices repeat="dealer in dealers | filter: $select.search">
                    <a>
                        <span ng-bind-html="dealer.dealerName | highlight: $select.search"></span>
                        <!--<small ng-bind-html="country.code | highlight: $select.search"></small>-->
                    </a>
                </ui-select-choices>
            </ui-select>
            </li>
            <li>              
                <a class="pull-right header-datePicker" id="daterange-btn">
                    <!--                <i class="fa fa-calendar" id="date"></i>-->
                    <span class="date-border">
                        {{firstDate| date: "MM/dd/yyyy"}} - {{lastDate| date: "MM/dd/yyyy"}} <i class="fa fa-caret-down"></i>
                    </span>
                </a>                   
            </li>
            <li> <span class="label label-info" ng-click="loadNewUrl()">Go</span></li>
            <li class="pull-right user user-menu">
                <a data-toggle="dropdown" class="logout">
                    <i class="fa fa-user" style="font-size:20px;"></i> {{fullName}}</a>
                <ul class="dropdown-menu pull-left">
                    <li><a href="admin/user/logout">Logout</a></li>
                </ul>
            </li>
            <!--        <li class="pull-right user user-menu">
                        <a class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
                    </li>-->
        </ol>
    </section>
</div>