<nav class="navbar navbar-static-top" role="navigation" ng-controller="HeaderController"> 
    <div class="navbar-header">
        <a href="#" class="navbar-brand"><img src="static/img/Logo-l2t.png" width="180" /></a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="dropdown pull-right" style="margin-top: 16px;">
        <button class="btn btn-default dropdown-toggle-btn" type="button" data-toggle="dropdown">{{userName}}
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="admin/user/logout">Logout</a></li>
        </ul>
    </div>

    <ul class="list-inline">
        <li class="pull-right">
            <div class="mar-top">
                <div class="form-group">
                    <div class="input-group">
                        <button type="button" class="btn btn-default pull-right" id="daterange-btn">
                            <span>
                                <i class="fa fa-calendar" id="date"></i> September 7, 2016 - October 5, 2016
                            </span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                    </div>
                </div>
            </div>
        </li>
        <li class="pull-right">
            <div class="mar-top">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle-btn" type="button" data-toggle="dropdown">{{selectDashboardType}}
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-click="selectDashboard('Dashboard')"> <a data-ui-sref="index.dashboard.widget({dashboardTypeId: 1, productId: productId, tabId: tabId,})">Dashboard</a> </li>
                        <li ng-click="selectDashboard('Report')"> <a data-ui-sref="index.report.reports({dashboardTypeId: 2, productId: productId})"> Report</a></li>
                    </ul>
                </div>
            </div>
        </li>        
        <li class="pull-right">
            <div class="mar-top">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle-btn" type="button" data-toggle="dropdown">{{selectProductName}}
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="product in products">
                            <a data-ui-sref="index.dashboard({productId:  product.id})" data-ui-sref-opts="{reload: true}" ng-click="changeProduct(product)">
                                {{product.productName}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="pull-right">
            <div class="mar-top">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle-btn" type="button" data-toggle="dropdown">Select Dealer
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="dealer in dealers">
                            <a ui-sref="index.dashboard({dealerId: dealer.id})">{{dealer.dealerName}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</nav>