<nav class="navbar navbar-static-top">
    <div class="container" ng-controller="HeaderController">
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand"><img src="static/img/logos/l2tmedia.png" width="200" /></a>
        </div>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a class="user-LogOut" data-placement="bottom" href="#" data-toggle="popover">
                        <span class="loginUser"> {{userName}}</span> 
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </a>
                    <div id="userLogout" class="hide">
                        <a href="admin/user/logout" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
