<header class="main-header" id="header">
    <div ng-include="'static/views/vb.header.html'"></div>
</header>
<aside class="main-sidebar">
    <span ng-include="'static/views/vb.leftSideMenu.html'"></span>
</aside>
<div id="wrapper">
    <div ui-view=""></div>

<footer class="main-footer footer">
    <span ng-include="'static/views/vb.footer.html'"></span>
</footer>
 </div>

<!--<header>
    <div ng-include="'static/views/vb.header.html'"></div>
</header>
<aside>
    <span ng-include="'static/views/vb.leftSideMenu.html'"></span>
</aside>
<div>
    <div ui-view=""></div>
</div>
<footer>
    <span ng-include="'static/views/vb.footer.html'"></span>
</footer>-->