<section class="sidebar" ng-controller="MenuController"> 
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="treeview active">
            <a data-ui-sref="index.dashboard.widget({productId:  productId, tabId: tabId, startDate: startDate, endDate: endDate})">
                <i class="fa fa-th"></i>
                <span>Products</span>
            </a>
            <ul class="treeview-menu">
                <li ng-repeat="product in products">
                    <a class="active" ng-click="setParamsDate()" data-ui-sref="index.dashboard.widget({productId: product.id?product.id:0, tabId: tabId, startDate: startDate, endDate: endDate})">
                        {{product.productName}}
                    </a>
                </li>
            </ul>
        </li>
        <li><a data-ui-sref="index.report.reports({reportId: reportId, startDate: startDate, endDate: endDate})"><i class="fa fa-file-text"></i> Report</a></li>
    </ul>    
</section>
