<section class="sidebar" ng-controller="MenuController"> 

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="treeview active">
            <a data-ui-sref="index.dashboard.widget({productId:  productId, tabId: tabId})">
                <i class="fa fa-th"></i>
                <span>Products</span>
            </a>
            <ul class="treeview-menu">
                <li ng-repeat="product in products">
                    <a data-ui-sref="index.dashboard.widget({productId:  product.id, tabId: tabId})">
                        {{product.productName}}
                    </a>
                </li>
            </ul>
        </li>
        <li><a data-ui-sref="index.report.reports({productId: productId})"><i class="fa fa-file-text"></i> Report</a></li>
    </ul>    
</section>
