<div ng-controller="UiController">
    <section class="content-header">
        <h1 class="text-capitalize"> {{dashboardName}}</h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li ng-repeat="tab in tabs" ng-dblclick="startEditing(tab);" ui-sref-active="active" ng-drop="true" ng-drop-success="onDropTabComplete($index, $data,$event)">
                            <a class="active" ng-drag="true" ng-drag-data="tab" ui-sref="index.dashboard.widget({productId: productId, tabId: tab.id?tab.id:0, startDate: startDate, endDate: endDate})">
                                <span ng-hide="tab.editing">{{tab.tabName}}</span>
                                <form ng-submit="doneEditing(tab)" ng-show="tab.editing">
                                    <input class="form-control" ng-model="tab.tabName" ng-blur="doneEditing(tab)" ng-focus="tab == editedItem">
                                </form>
                            </a>
                            <button class="close closeTab" data-toggle="modal" data-target="#deleteTabModal{{tab.id}}" type="button">×</button>
                            <div class="modal fade bd-example-modal-md" id="deleteTabModal{{tab.id}}">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Delete</h4>
                                        </div>
                                        <div class="modal-body">
                                            <span>Want to delete ?</span>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="col-sm-12">
                                                <button type="button" class="btn btn-primary btn-xs" ng-click="deleteTab($index, tab)" data-dismiss="modal"><span class="fa fa-save"></span> Yes</button>  
                                                <button type="button" class="btn btn-danger btn-xs " data-dismiss="modal"><span class="fa fa-times"></span> No
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li> 
                        <li class="pull-left add-tab"  data-toggle="modal" data-target="#tabModal"><i class="fa fa-plus-circle"></i> Add Tab</a></li>             

                        <div class="modal fade bd-example-modal-md" id="tabModal" role="dialog">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">TAB</h4>
                                    </div>

                                    <div class="modal-body ">
                                        <form class="form-horizontal" role="form">

                                            <div class="form-group">
                                                <div class="col-sm-12  col-md-12">
                                                    <div class="col-sm-3 col-md-3">
                                                        <label>Tab Name </label>
                                                    </div>
                                                    <div class="col-sm-9 col-md-9">
                                                        <input type="text" ng-model="tab.tabName" class="form-control "/>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="col-sm-12">
                                            <button type="button" class="btn btn-primary btn-xs" ng-click="addTab(tab)" data-dismiss="modal"><span class="fa fa-save"></span> Save</button>  
                                            <button type="button" class="btn btn-danger btn-xs " data-dismiss="modal"><span class="fa fa-times"></span> Cancel
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="row" ngsf-fullscreen="fullscreenCtrl">
                        <ui-view></ui-view>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
