<div ng-controller="UiController">
    <tabset class="tab-container">
        <tab ng-repeat="tab in tabs" 
             tab-highlight 
             ui-sref="index.dashboard.widget({tabId: tab.id?tab.id:0})"
             ng-init="isActive = isActiveTab(tab.tabName, $index)"
             active="isActive"
             select="setActiveTab(tab.tabName)">
            <tab-heading>
                <span>{{tab.tabName}}</span> 
                <i class="glyphicon glyphicon-remove" ng-show="tab.tabClose" ng-click="removeTab($event, $index)"></i>
            </tab-heading>
        </tab>
        <button class="btn btns btn-default" data-toggle="modal" data-target="#tabModal"><i class="fa fa-plus"></i></button>
        <div class="modal fade bd-example-modal-md" id="tabModal" role="dialog">
            <div class="modal-dialog modal-md">
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">TAB</h4>
                    </div>
                    <div class="modal-body ">
                        <form class="form-horizontal" role="form">

                            <div class="form-group">
                                <div class="col-sm-12  col-md-12">
                                    <div class="col-sm-3 col-md-3">
                                        <label>Tab Name </label>
                                    </div>
                                    <div class="col-sm-9 col-md-9">
                                        <input type="text" ng-model="tab.tabName" class="form-control "/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="button" class="btn btn-warning" ng-click="addTab(tab)"><span class="fa fa-save"></span> Save</button>  
                            <button type="button" class="btn btn-warning" data-dismiss="modal"><span class="fa fa-times"></span> Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </tabset>
    <section class="content"> 
        <div class="row">
            <div class="col-md-12">                
                <div class="row" ngsf-fullscreen="fullscreenCtrl">
                    <ui-view></ui-view>
                </div>
            </div>
        </div>
    </section>
</div>
