<style>
    .ui-select-bootstrap .ui-select-toggle > .caret {
        position: absolute;
        height: 10px;
        top: 50%;
        right: 10px;
        margin-top: -2px;
        padding: 0px;
    }
    .previewChart {
        border-radius: 5px;
        border: none;
        font-size: 30px;
        padding: 20px;
        color: #99a5aa;
        line-height: 1px;
    }
    .selected {
        color: rgb(240, 173, 78);
        font-size: 30px;
        line-height: 1px;
        border-radius: 5px;
        border: none;
        padding: 1vw;
    }
    .full-height {
        /*height: 100%;*/
    }

    #changes-height {
        /*height: 400px;*/
        /*background-color: #88ddaa;*/
    }
    .wid i{
        font-size:30px;
        color: #99a5aa !important;
    }

    .dropdown-item:focus, .dropdown-item:hover {
        color: #2b2d2f;
        text-decoration: none;
        margin:0;
        padding:0;
        border:1px solid #cdcdcd;
    }

    .dropdown-content {
        position: absolute;
        float: left;
        width:280px;
        margin-left: -151px;
        text-align: center;
    }
    .dropdown-item {
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .firstrow {
        margin: 5px 11px;
    }

    .secondrow {
        margin: 5px 11px;
        width: 126px;
    }

    .thirdrow {
        margin: 5px 11px;
        width: 260px;
    }

    .btn-apps {
        border-radius: 3px;
        position: relative;
        padding: 15px 5px;
        margin: 5px 0px 5px 10px;
        min-width: 80px;
        /*        height: 40px;*/
        text-align: center;
        color: #666;
        border: 1px solid #ddd;
        background-color: #fcfcfc;
        font-size: 12px;
    }

    .lay-wid {
        text-align:left;
    }

    .wrap{
        white-space: normal;
    }
    .ui-grid-cell{
        height: auto !important;
    }


    .odd {
        color: #333;
        background-color: rgb(235, 238, 225) !important;
    }

    .even {
        color: #333;
        background-color: #fff !important;
    }
    .oddFirst {
        color: #333;
        background-color: #fff !important;
    }

    .evenFirst {
        color: #333;
        background-color: rgb(235, 238, 225) !important;
    }

</style>
<div class="row add-widget">
    <div class="pull-right-container pull-right">
        <div class="btn-group">
            <a class="refresh" ng-click="pageRefresh()"><i class="fa fa-repeat"></i> Refresh Data</a>
        </div>
        <div class="btn-group dropdown">
            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                <button type="button" class="btn btn-block btn-info"><i class="fa fa-plus-circle"></i> Add Widget</button>
            </a>
            <div class="dropdown-menu dropdown-content">
                <span class="lay-wid">Select the Layout</span>
                <a href="" class="dropdown-item" ng-click="addWidget('2')">
                    <div class="col-md-2 btn-apps wid firstrow"><i class="fa fa-line-chart"></i></div>
                    <div class="col-md-2 btn-apps wid firstrow"><i class="fa fa-pie-chart"></i></div>
                    <div class="col-md-2 btn-apps wid firstrow"><i class="fa fa-table"></i></div>
                </a>
                <a href="" class="dropdown-item" ng-click="addWidget('3')">
                    <div class="col-md-5 btn-apps wid secondrow"><i class="fa fa-table"></i></div>
                    <div class="col-md-5 btn-apps wid secondrow"><i class="fa fa-area-chart"></i></div>
                </a>
                <a href="" class="dropdown-item" ng-click="addWidget('6')">
                    <div class="col-md-10 btn-apps wid thirdrow"><i class="fa fa-table"></i></div>
                </a>
            </div>
        </div>
    </div>
</div>
<div>
    <div ng-repeat="widget in widgets">

        <div ng-if="widget.chartType == 'ticker'">
            <div class="col-sm-{{2 * widget.width}}" ng-drop="true" ng-drop-success="onDropComplete($index, $data, $event)">
                <div class="hpanel border-table" ng-drag="true" ng-drag-data="widget">
                    <div class="panel-tools hover-delete">
                        <a class="edit" data-toggle="modal" data-target="#preview{{widget.id}}" ng-click="editWidget(widget);"><i class="fa fa-pencil"></i>
                        </a>
                        <a class="closebox" data-toggle="modal" data-target="#delete{{widget.id}}"><i class="fa fa-times"></i></a>
                        <div id="delete{{widget.id}}" class="modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <strong>Delete</strong>
                                        <strong><button class="close" data-dismiss="modal">&times;</button></strong>
                                    </div>
                                    <div class="modal-body">
                                        <span>Want to delete ? </span>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-info btn-xs" ng-click="deleteWidget(widget, $index)" data-dismiss="modal"> Yes</button>
                                        <button class="btn btn-danger btn-xs" data-dismiss="modal"> No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ticker-Directive ticker-Url="{{widget.directUrl}}" ticker-Id="{{widget.id}}" ticker-Columns="{{widget.columns}}"></div>
                </div>
            </div>
        </div>

        <div ng-if="widget.chartType != 'ticker'">
            <!--            <div class="col-md-{{2 * widget.width}}" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">-->
            <div class="col-md-{{2 * widget.width}} table-deeta" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
                <div class="hpanel hgreen border-table" ng-hide="hidenewchart" ngsf-fullscreen="widgetCtrl"  ng-drag="true" ng-drag-data="widget"> 
                    <div class="panel-heading">


                        <div class="panel-tools">

                            <!--                            <button  type="button" class="btn btn-box-tool" data-toggle="modal" data-target="#preview{{widget.id}}" ng-click="editWidget(widget);"><i class="fa fa-pencil"></i>
                                                        </button>-->
                            <a class="edit" data-toggle="modal" data-target="#preview{{widget.id}}" ng-click="editWidget(widget);"><i class="fa fa-pencil"></i>
                            </a>
                            <a class="closebox" data-toggle="modal" data-target="#delete{{widget.id}}"><i class="fa fa-times"></i></a>
                            <div id="delete{{widget.id}}" class="modal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <strong>Delete</strong>
                                            <strong><button class="close" data-dismiss="modal">&times;</button></strong>
                                        </div>
                                        <div class="modal-body">
                                            <span>Want to delete ? </span>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-info btn-xs" ng-click="deleteWidget(widget, $index)" data-dismiss="modal"> Yes</button>
                                            <button class="btn btn-danger btn-xs" data-dismiss="modal"> No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="{{widget.icon}}"></span> 
                        <span class="text-capitalize">{{widget.widgetTitle}}</span>

                    </div>
                    <div class="panel-body" ng-if="widget.chartType === 'line'">

                        <div>
                            <div line-Chart-Directive line-Chart-Url="{{widget.directUrl}}" widget-Id="{{widget.id}}" widget-Columns="{{widget.columns}}"></div>
                        </div> 

                    </div>
                    <div class="panel-body" ng-if="widget.chartType === 'bar'">

                        <div>
                            <div bar-Chart-Directive bar-Chart-Url="{{widget.directUrl}}" widget-Id="{{widget.id}}" widget-Columns="{{widget.columns}}"></div>
                        </div> 

                    </div>
                    <div class="panel-body" ng-if="widget.chartType === 'pie'">

                        <div>

                            <div pie-Chart-Directive pie-Chart-Url='{{widget.directUrl}}' widget-Id="{{widget.id}}" widget-Columns="{{widget.columns}}"></div>
                        </div> 

                    </div>
                    <div class="panel-body"  ng-if="widget.chartType === 'area'">
                        <div class="table-responsive">

                            <div area-Chart-Directive area-Chart-Url="{{widget.directUrl}}" widget-Id="{{widget.id}}" widget-Columns="{{widget.columns}}"></div>

                        </div>
                    </div>
                    <div class="panel-body list" ng-if="widget.chartType === 'table'" adjust-height>
                        <div class="table-responsive project-list">

                            <div id="changes-height" class="project-list">
                                <div dynamic-Table dynamic-Table-Url="{{widget.directUrl}}" widget-Id="{{widget.id}}" table-Footer="{{widget.tableFooter}}" widget-Columns="{{widget.columns}}"></div> 
                            </div>

                        </div>
                    </div>
                </div>
            </div>            
        </div> 

        <div id="preview{{widget.id}}" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <label style="font-weight:normal;">Widget</label>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default">

                            <div class="box-body popup-head">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Widget Title</label>
                                            <input type="text" class="form-control" ng-model="widget.previewTitle">
                                        </div> 
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Product</label>
                                            <select class="form-control" ng-model="widget.productName" ng-change="selectProductName(widget.productName, widget)" ng-options="userProduct for userProduct in userProducts">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <select class="form-control" ng-model="widget.productDisplayName" ng-change="changeUrl(widget.productDisplayName, widget)">
                                                <option ng-repeat="productField in productFields">{{productField.productDisplayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Type</label><br/>
                                            <a class="btn btn-app" ng-repeat="chartType in chartTypes track by chartType.id"> <span ng-click="previewChart(chartType, widget, $index);" class="previewChart" title="{{chartType.name}}"> 
                                                    <i style="cursor: pointer" class="fa {{chartType.icon}}" ng-class="{'selected': chartType.type == (selectedRow?selectedRow:widget.chartType)}"></i> </span>
                                            </a>
                                        </div>             
                                    </div>
                                    <div class="col-md-6" ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) === 'table' && (widget.widgetChartType ? widget.widgetChartType : widget.chartType) !== 'ticker'">
                                        <div class="form-group">
                                            <input type="checkbox" ng-model="widget.tableFooter" ng-checked="widget.tableFooter == 1" />
                                            <!--<input type="checkbox" ng-model="widget.tableFooter" ng-checked="widget.tableFooter == true" />-->
                                            <label>Table Footer</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="checkbox" ng-model="advanceMenu" value="true">
                                            <label>Advanced menu</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box">

                            <div class="box-body table-responsive no-padding">
                                <table class="table table-bordered table-hover" >
                                    <thead>
                                        <tr>
                                            <td>Field Name</td>
                                            <td>Display Name</td>
                                            <td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) === 'table' && (widget.widgetChartType ? widget.widgetChartType : widget.chartType) !== 'ticker' && advanceMenu == true">Aggregation Function</td>
                                            <td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) === 'table' && (widget.widgetChartType ? widget.widgetChartType : widget.chartType) !== 'ticker'">Group Priority</td>
                                            <td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) !== 'table' && (widget.widgetChartType ? widget.widgetChartType : widget.chartType) !== 'ticker' && advanceMenu == true">X-Axis</td>
                                            <td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) !== 'table' && (widget.widgetChartType ? widget.widgetChartType : widget.chartType) !== 'ticker' && advanceMenu == true">Y-Axis</td>
                                            <td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) !== 'ticker' && advanceMenu == true">Sort</td>
                                            <td ng-if="(setPreviewChartType ? setPreviewChartType : editChartType) !== 'ticker' && advanceMenu == true">Format</td>
                                            <td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) === 'table' && (widget.widgetChartType ? widget.widgetChartType : widget.chartType) !== 'ticker' && advanceMenu == true">Alignment</td>
                                            <!--<td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) === 'table'">Width</td>-->
                                            <!--<td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) === 'table'">Wrap</td>-->
                                            <td><button class="btn btn-info" ng-click="addColumns(widget)"><i class="fa fa-plus"></i></button></td>
                                        </tr>
                                    </thead>
                                    <tbody ui:sortable ng:model="widget.columns">
                                        <tr ng-repeat="currentColumn in widget.columns" style="cursor: move;">
                                            <td>
                                                <div ng-hide="currentColumn.isEdit"> {{currentColumn.fieldName}}</div>
                                                <div ng-show="currentColumn.isEdit">
                                                    <select ng-model="currentColumn.fieldName" class="form-control" ng-change="dispName(currentColumn)">
                                                        <option ng-repeat="collectionField in collectionFields" value="{{collectionField.fieldName}}">{{collectionField.displayName}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div ng-hide="currentColumn.isEdit"> {{currentColumn.displayName}}</div>
                                                <div ng-show="currentColumn.isEdit">
                                                    <input type="text" class="form-control" ng-model="currentColumn.displayName">
                                                </div>
                                            </td>
                                            <td ng-if="(setPreviewChartType ? setPreviewChartType : editChartType) === 'table' && (setPreviewChartType ? setPreviewChartType : editChartType) !== 'ticker' && advanceMenu == true">
                                                <div ng-hide="currentColumn.isEdit"> {{currentColumn.agregationFunction}}</div>
                                                <div ng-show="currentColumn.isEdit">
                                                    <!--<input type="text" class="form-control" ng-model="column.agregationFunction">-->
                                                    <select ng-model="currentColumn.agregationFunction" class="form-control">
                                                        <option ng-repeat="selectAggregation in selectAggregations" value="{{selectAggregation.value}}">{{selectAggregation.name}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td ng-if="(setPreviewChartType ? setPreviewChartType : editChartType) === 'table' && (setPreviewChartType ? setPreviewChartType : editChartType) !== 'ticker'">
                                                <div ng-hide="currentColumn.isEdit"> {{currentColumn.groupPriority}}</div>
                                                <div ng-show="currentColumn.isEdit">
                                                    <select ng-model="currentColumn.groupPriority" class="form-control">
                                                        <option ng-repeat="selectGroupPriority in selectGroupPriorities" value="{{selectGroupPriority.value}}">{{selectGroupPriority.num}}</option>
                                                    </select>
                                                    <!--<input type="text" class="form-control" ng-model="currentColumn.groupPriority">-->
                                                </div>
                                            </td>
                                            <td ng-if="(setPreviewChartType ? setPreviewChartType : editChartType) !== 'table' && (setPreviewChartType ? setPreviewChartType : editChartType) !== 'ticker' && advanceMenu == true">
                                                <div ng-hide="currentColumn.isEdit"> {{currentColumn.xAxis| xAxis}}</div>
                                                <div ng-show="currentColumn.isEdit">
                                                    <select ng-model="currentColumn.xAxis" class="form-control">
                                                        <option ng-repeat="selectxAxis in selectXAxis" value="{{selectxAxis.value}}">{{selectxAxis.label}}</option>
                                                    </select>
                                                    <!--<input type="text" class="form-control" ng-model="currentColumn.xAxis">-->
                                                </div>
                                            </td>
                                            <td ng-if="(setPreviewChartType ? setPreviewChartType : editChartType) !== 'table' && (setPreviewChartType ? setPreviewChartType : editChartType) !== 'ticker' && advanceMenu == true">
                                                <div ng-hide="currentColumn.isEdit"> {{currentColumn.yAxis| yAxis}}</div>
                                                <div ng-show="currentColumn.isEdit">
                                                    <select ng-model="currentColumn.yAxis" class="form-control">
                                                        <option ng-repeat="selectyAxis in selectYAxis" value="{{selectyAxis.value}}">{{selectyAxis.label}}</option>
                                                    </select>
                                                    <!--<input type="text" class="form-control" ng-model="currentColumn.yAxis">-->
                                                </div>  
                                            </td>
                                            <td ng-if="(setPreviewChartType ? setPreviewChartType : editChartType) !== 'ticker' && advanceMenu == true">
                                                <div ng-hide="currentColumn.isEdit"> {{currentColumn.sortOrder}}</div>
                                                <div ng-show="currentColumn.isEdit">
                                                    <!--<input type="text" class="form-control" ng-model="widget.sortOrder">-->
                                                    <select ng-model="currentColumn.sortOrder" class="form-control">
                                                        <option ng-repeat="sort in sorting" value="{{sort.value}}">{{sort.name}}</option>
                                                    </select>
                                                </div> 
                                            </td>
                                            <td ng-if="(setPreviewChartType ? setPreviewChartType : editChartType) !== 'ticker' && advanceMenu == true">
                                                <div ng-hide="currentColumn.isEdit"> {{currentColumn.displayFormat}}</div>
                                                <div ng-show="currentColumn.isEdit">
                                                    <input type="text" class="form-control" ng-model="currentColumn.displayFormat">
                                                </div>
                                            </td>
                                            <td ng-if="(setPreviewChartType ? setPreviewChartType : editChartType) === 'table' && (setPreviewChartType ? setPreviewChartType : editChartType) !== 'ticker' && advanceMenu == true">
                                                <div ng-hide="currentColumn.isEdit"> {{currentColumn.alignment}}</div>
                                                <div ng-show="currentColumn.isEdit">
                                                    <select ng-model="currentColumn.alignment" class="form-control">
                                                        <option ng-repeat="alignment in alignments" value="{{alignment.name}}">{{alignment.name}}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <!--                                            <td ng-if="(setPreviewChartType ? setPreviewChartType : editChartType) === 'table'">
                                                                                            <div ng-hide="isEdit"> {{currentColumn.width}}</div>
                                                                                            <div ng-show="isEdit">
                                                                                                <input type="text" class="form-control" ng-model="currentColumn.width">
                                                                                            </div>
                                                                                        </td>-->
                                            <!--                                            <td ng-if="(setPreviewChartType ? setPreviewChartType : editChartType) === 'table'">
                                                                                            <div ng-hide="isEdit"> {{currentColumn.wrapText| capitalize}}</div>
                                                                                            <div ng-show="isEdit">                                                
                                                                                                <select ng-model="currentColumn.wrapText" class="form-control">
                                                                                                    <option ng-repeat="tableWrap in tableWrapText" value="{{tableWrap.value}}">{{tableWrap.name}}</option>
                                                                                                </select>
                                                                                            </div>
                                                                                        </td>-->
                                            <td>
                                                <div ng-show="currentColumn.isEdit">
                                                    <button class="btn btn-default btn-xs" ng-click="currentColumn.isEdit = false"><i class="fa fa-save"></i></button>
                                                    <!--<button class="btn btn-default btn-xs" ng-click="saveColumn(widget, column); widget.isEdit = false"><i class="fa fa-save"></i></button>-->
                                                    <button class="btn btn-default btn-xs" ng-click="currentColumn.isEdit = false"><i class="fa fa-close"></i></button>
                                                    <button class="btn btn-default btn-xs" ng-click="deleteColumn(widget.columns, $index)"><i class="fa fa-trash"></i></button>
                                                </div>
                                                <div ng-hide="currentColumn.isEdit">
                                                    <button class="btn btn-default btn-xs" ng-click="currentColumn.isEdit = true"><i class="fa fa-pencil"></i></button>
                                                    <button class="btn btn-default btn-xs" ng-click="deleteColumn(widget.columns, $index)"><i class="fa fa-trash"></i></button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>                            
                            </div>
                        </div>

                        <button style="margin-top:5px;" class="btn btn-info" ng-click="showPreview(widget); showPreviewChart = !showPreviewChart">
                            <i class="fa" ng-class="{'fa-angle-down': !showPreviewChart, 'fa-angle-up': showPreviewChart}"></i> Preview 
                        </button>

                        <div ng-show="showPreviewChart">
                            <div class="col-md-12">
                                <div class="box-body chart-responsive" ng-if="previewChartType === 'ticker'">
                                    <div ticker-Directive ticker-Url="{{previewChartUrl}}" ticker-Id="{{widget.id}}" ticker-Columns="{{previewColumn.columns}}"></div>
                                </div> 
                                <div class="box-body chart-responsive" ng-if="previewChartType === 'line'">
                                    <div line-Chart-Url='{{previewChartUrl}}' widget-Columns="{{previewColumn.columns}}" line-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                </div> 
                                <div class="box-body chart-responsive" ng-if="previewChartType === 'area'">
                                    <div area-Chart-Url='{{previewChartUrl}}' widget-Columns="{{previewColumn.columns}}" area-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                </div> 
                                <div class="box-body chart-responsive" ng-if="previewChartType === 'bar'">
                                    <div bar-Chart-Url='{{previewChartUrl}}' widget-Columns="{{previewColumn.columns}}" bar-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                </div> 
                                <div class="box-body chart-responsive" ng-if="previewChartType === 'pie'">
                                    <div pie-Chart-Url='{{previewChartUrl}}' widget-Columns="{{previewColumn.columns}}" pie-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                </div> 
                                <div class="box-body chart-responsive" ng-if="previewChartType === 'donut'">
                                    <div donut-Chart-Url='{{previewChartUrl}}' donut-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                </div> 
                                <div class="box-body chart-responsive" ng-if="previewChartType === 'groupedBar'">
                                    <div grouped-Bar-Chart-Url='{{previewChartUrl}}' grouped-Bar-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                </div> 
                                <div class="box-body chart-responsive" ng-if="previewChartType === 'table'"  style="overflow: auto;">
                                    <div dynamic-Table dynamic-Table-Url="{{previewChartUrl}}" widget-Id="{{previewColumn.id}}" widget-Columns="{{previewColumn.columns}}"></div>
                                </div> 
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-info" ng-click="save(widget); showFieldTable = false; showPreviewChart = false; showAddButton = false;"><span class="fa fa-save"></span> Save</button>
                        <button data-dismiss="modal" class="btn btn-danger" ng-click="closeWidget(widget); showFieldTable = false; showPreviewChart = false; showAddButton = false;"><span class="fa fa-times"></span> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>