<style>
    .ui-select-bootstrap .ui-select-toggle > .caret {
        position: absolute;
        height: 10px;
        top: 50%;
        right: 10px;
        margin-top: -2px;
        padding: 0px;
    }
</style>

<div>
    <div class="container-fluid light-blue" style="margin-bottom: 5px;padding: 0 0 5px 0;">
        <div class="pull-right l2t-tab">
            <!--<a class="btn btn-warning" data-toggle="modal" data-target="#addNew"><i class="fa fa-plus"></i> Add New</a>-->
            <span class="dropdown">
                <a class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fa fa-plus"></i> Add Widget <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li  ng-repeat="newPanel in newPanels">
                        <a href="" ng-click="addNewPanel(newPanel)">{{newPanel.panelId}}</a>
                    </li>
                </ul>
            </span>
            <a class="btn btn-warning" ng-click="fullscreenCtrl.toggleFullscreen()"><i class="fa fa-arrows-alt"></i> Full Screen</a>
            <a class="btn btn-warning" ng-click="pageRefresh()"><i class="fa fa-refresh"></i> Refresh</a>
        </div>
        <!--<br><br><br/>-->

        <!--                <div class="box box-info light" style="margin-bottom:0px;margin-top: 0%">
                            <div class="box-header with-border light-blue">
                                <h3 class="box-title">Questions?</h3>
                            </div>
                        </div>-->
    </div> 
    <div ng-repeat="widget in widgets">

        <!--        <div class="row row-padding" ng-if="widget.chartType == 'tickers'">
                    <div class="col-sm-{{2 * widget.width}}">
                        <div class="panel panel-default relative pnl-aln">
                            <div class="m-b-10">
                                <i class="fa fa-circle" style="color: #86c0ba"></i> 
                                Visits
                                <span class="text-lg pull-right" style="color: #86c0ba">{{totalSiteVisit}}</span>
                            </div>                          
                        </div>
                    </div>
                </div>-->

        <div ng-if="widget.chartType != 'tickers'">
            <div class="col-md-{{2 * widget.width}} widgetsize resize">
                <div class="box box-primary" ng-hide="hidenewchart" ngsf-fullscreen="widgetCtrl">
                    <!--            <div class="col-md-{{2 * widget.width}} widgetsize resize" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
                                    <div class="box box-primary" ng-hide="hidenewchart" ngsf-fullscreen="widgetCtrl" ng-drag="true" ng-drag-data="widget">-->
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <span class="{{widget.icon}}"></span> 
                            <span class="text-capitalize">{{widget.widgetTitle}}</span>
                        </h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" ng-click="widget.previewUrl = widget.directUrl" data-toggle="modal" data-target="#preview{{widget.id}}"><i class="fa fa-pencil"></i>
                            </button>
                            <!--                            <button type="button" ng-if="widget.chartType === 'line'" class="btn btn-box-tool" data-widget="" ng-click="directiveLineFn()">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                        <button type="button" ng-if="widget.chartType === 'area'" class="btn btn-box-tool" data-widget="" ng-click="directiveAreaFn()">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                        <button type="button" ng-if="widget.chartType === 'bar'" class="btn btn-box-tool" data-widget="" ng-click="directiveBarFn()">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                        <button type="button" ng-if="widget.chartType === 'pie'" class="btn btn-box-tool" data-widget="" ng-click="directivePieFn()">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                        <button type="button" ng-if="widget.chartType === 'donut'" class="btn btn-box-tool" data-widget="" ng-click="directiveDonutFn()">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                        <button type="button" ng-if="widget.chartType == 'groupedBar'" class="btn btn-box-tool" data-widget="" ng-click="directiveGroupedBarFn()">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                        <button type="button" ng-if="widget.chartType == 'table'" class="btn btn-box-tool" data-widget="" ng-click="directiveTableFn()">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>-->
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive" ng-if="widget.chartType === 'line'">
                        <div line-Chart-Directive></div>
                        <!--                        <div set-Area-Chart-Fn="setAreaFn(areaChartFn)"
                                                     area-Chart-Directive
                                                     area-Chart-Url='{{widget.url}}'
                                                     style="min-height:{{widget.minHeight}}vh">
                                                </div>-->
                    </div> 
                    <div class="box-body chart-responsive" ng-if="widget.chartType === 'bar'">
                        <div bar-Chart-Directive></div>
                        <!--                        <center>
                                                    <div set-Bar-Chart-Fn="setBarFn(barChartFn)"
                                                         bar-Chart-Directive 
                                                         bar-Chart-Url='{{widget.url}}' 
                                                         style="min-height:{{widget.minHeight}}vh">
                                                    </div>
                                                </center>-->
                    </div> 
                    <div class="box-body chart-responsive" ng-if="widget.chartType === 'pie'">

                        <div pie-Chart-Directive pie-Chart-Url='{{widget.directUrl}}'></div>
                        <!--                        <center>
                                                    <div set-Pie-Chart-Fn="setPieFn(pieChartFn)"
                                                         pie-Chart-Directive
                                                         pie-Chart-Url='{{widget.url}}'
                                                         style="min-height:{{widget.minHeight}}vh">
                                                    </div>
                                                </center>-->
                    </div> 
                    <div class="box-body chart-responsive" ng-if="widget.chartType === 'area'">
                        <div area-Chart-Directive></div>
                        <!--                        <center>
                                                    <div set-Pie-Chart-Fn="setPieFn(pieChartFn)"
                                                         pie-Chart-Directive
                                                         pie-Chart-Url='{{widget.url}}'
                                                         style="min-height:{{widget.minHeight}}vh">
                                                    </div>
                                                </center>-->
                    </div> 
                    <div class="box-body table-responsive" ng-if="widget.chartType === 'table'">
                        <div dynamic-Table dynamic-Table-Url="{{widget.directUrl}}" widget-Id="{{widget.id}}"  widget-Columns="{{widget.columns}}"></div>
                        <!--<div dynamic-Table style="height: 100%;" class="ag-fresh"></div>-->
                        <!--                                <div set-Table-Fn="setTableFn(tableFn)"
                                                             dynamic-Table-Url='{{widget.directUrl}}'
                                                             dynamic-Table 
                                                             dynamic-Table-Id='{{widget.chartId}}'
                                                             style="min-height:{{widget.minHeight}}vh">
                                                        </div>-->
                        <!--<div ui-grid="gridOptions" ui-grid-grouping ></div>-->
                    </div> <!--
                                        <div class="box-body chart-responsive" ng-if="widget.chartType === 'line'">
                                            <center>
                                                <div set-Line-Chart-Fn="setLineFn(lineChartFn)" 
                                                     line-Chart-Directive 
                                                     line-Chart-Url='{{widget.url}}' 
                                                     collection='{{widget}}' 
                                                     line-Chart-Id='{{widget.chartId}}' style="min-height:{{widget.minHeight}}vh"></div></center>
                                        </div>                    
                                        <div class="box-body chart-responsive" ng-if="widget.chartType === 'area'">
                                            <div set-Area-Chart-Fn="setAreaFn(areaChartFn)"
                                                 area-Chart-Directive
                                                 area-Chart-Url='{{widget.url}}'
                                                 style="min-height:{{widget.minHeight}}vh">
                                            </div>
                                        </div> 
                                        <div class="box-body chart-responsive" ng-if="widget.chartType === 'bar'">
                                            <center>
                                                <div set-Bar-Chart-Fn="setBarFn(barChartFn)"
                                                     bar-Chart-Directive 
                                                     bar-Chart-Url='{{widget.url}}' 
                                                     style="min-height:{{widget.minHeight}}vh">
                                                </div>
                                            </center>
                                        </div> 
                                        <div class="box-body chart-responsive" ng-if="widget.chartType === 'pie'">
                                            <center>
                                                <div set-Pie-Chart-Fn="setPieFn(pieChartFn)"
                                                     pie-Chart-Directive
                                                     pie-Chart-Url='{{widget.url}}'
                                                     style="min-height:{{widget.minHeight}}vh">
                                                </div>
                                            </center>
                                        </div> 
                                        <div class="box-body chart-responsive" ng-if="widget.chartType === 'donut'">
                                            <center>
                                                <div set-Donut-Chart-Fn="setDonutFn(donutChartFn)"
                                                     donut-Chart-Directive
                                                     donut-Chart-Url='{{widget.url}}'
                                                     style="min-height:{{widget.minHeight}}vh">
                                                </div>
                                            </center>
                                        </div> 
                    
                                        <div class="box-body chart-responsive" ng-if="widget.chartType === 'groupedBar'">
                                            <div set-Grouped-Bar-Chart-Fn="setGroupedBarFn(groupedBarChartFn)"
                                                 grouped-Bar-Chart-Directive
                                                 grouped-Bar-Chart-Url='{{widget.url}}'
                                                 style="min-height:{{widget.minHeight}}vh">                             
                                            </div>
                                        </div> 
                    
                                        <div class="box-body chart-responsive" ng-if="widget.chartType === 'table'">
                                            <center>
                                                <div set-Table-Fn="setTableFn(tableFn)"
                                                     dynamic-Table-Url='{{widget.url}}'
                                                     dynamic-Table 
                                                     dynamic-Table-Id='{{widget.chartId}}'
                                                     style="min-height:{{widget.minHeight}}vh">
                                                </div>
                                            </center>
                                        </div>  -->
                </div>
            </div>
            <div id="preview{{widget.id}}" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header" style="background-color:#9DD6D7;color:black;">
                            <strong>CHART</strong>
                            <strong><button class="close" data-dismiss="modal">&times;</button></strong>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2">Data Source</label>
                                    <div class="col-sm-4">
                                        <ui-select ng-model="dataSource" on-select="selectedDataSource(dataSource)" theme="bootstrap">
                                            <ui-select-match placeholder="Select Data Source">{{$select.selected}}</ui-select-match>
                                            <ui-select-choices repeat="datasource in datasources | filter: $select.search">
                                                <div ng-bind-html="datasource | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>                                         
                                    </div>

                                    <label class="col-sm-2">Data Set</label>
                                    <div class="col-sm-4">
                                        <ui-select multiple ng-model="dataSet" on-select="selectedDataSet(dataSet)" theme="bootstrap" ng-disabled="disabled">
                                            <ui-select-match placeholder="Select Data Set">{{$item.name}}</ui-select-match>
                                            <ui-select-choices repeat="dataSet in dataSets | filter:$select.search">
                                                {{dataSet.displayName}}
                                            </ui-select-choices>
                                        </ui-select> 
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2">Url</label>
                                    <div class="col-sm-10">
                                        <input type="text" ng-model="widget.previewUrl" class="form-control" placeholder="Url">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2">Type</label>
                                    <div class="col-sm-10">
                                        <span ng-repeat="chartType in chartTypes track by chartType.id">
                                            <span ng-click="previewChart(chartType, widget);" class="previewChart" title="{{chartType.name}}">
                                                <img src="{{chartType.url}}" class="charttype">
                                            </span>
                                        </span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4">Columns
                                        <button ng-hide="showAddButton" ng-disabled="(widget.previewUrl && (widget.widgetChartType ? widget.widgetChartType : widget.chartType)) ? false : true;" class="btn btn-warning btn-xs" ng-click="showFieldTable = true; showAddButton = true;"><i class="fa fa-plus"></i></button>
                                        <button ng-show="showAddButton" class="btn btn-warning btn-xs" ng-click="showFieldTable = false; showAddButton = false;"><i class="fa fa-close"></i></button>
                                    </label>
                                    <div class="col-sm-12">

                                        <div ng-show="showFieldTable" class="table-responsive">                                               
                                            <table class="table table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <td>Field Name</td>
                                                        <td>Display Name</td>
                                                        <td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) === 'table'">Aggregation Function</td>
                                                        <td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) === 'table'">Group Priority</td>
                                                        <td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) !== 'table'">X-Axis</td>
                                                        <td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) !== 'table'">Y-Axis</td>
                                                        <td><button class="btn btn-warning btn-xs" ng-click="addColumns(widget)">Add Column</button></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="column in widget.columns">
                                                        <td>
                                                            <div ng-hide="column.isEdit"> {{column.fieldName}}</div>
                                                            <div ng-show="column.isEdit">
                                                                <select ng-model="column.fieldName" class="form-control">
                                                                    <option ng-repeat="collectionField in collectionFields" value="{{collectionField.name}}">{{collectionField.name}}</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div ng-hide="column.isEdit">{{column.displayName}}</div>
                                                            <div ng-show="column.isEdit">
                                                                <input type="text" class="form-control" ng-model="column.displayName">
                                                            </div>
                                                        </td>
                                                        <td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) === 'table'">
                                                            <div ng-hide="column.isEdit"> {{column.agregationFunction}}</div>
                                                            <div ng-show="column.isEdit">
                                                                <!--<input type="text" class="form-control" ng-model="column.agregationFunction">-->
                                                                <select ng-model="column.agregationFunction" class="form-control">
                                                                    <option ng-repeat="selectAgregation in selectAgregations" value="{{selectAgregation.name}}">{{selectAgregation.name}}</option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) === 'table'">
                                                            <div ng-hide="column.isEdit"> {{column.groupPriority}}</div>
                                                            <div ng-show="column.isEdit">
                                                                <input type="text" class="form-control" ng-model="column.groupPriority">
                                                            </div>
                                                        </td>
                                                        <td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) !== 'table'">
                                                            <div ng-hide="column.isEdit">
                                                                {{column.xAxis}}
                                                            </div>
                                                            <div ng-show="column.isEdit">
                                                                <input type="text" class="form-control" ng-model="column.xAxis">
                                                            </div>
                                                        </td>
                                                        <td ng-if="(widget.widgetChartType ? widget.widgetChartType : widget.chartType) !== 'table'">
                                                            <div ng-hide="column.isEdit">
                                                                {{column.yAxis}}
                                                            </div>
                                                            <div ng-show="column.isEdit">
                                                                <input type="text" class="form-control" ng-model="column.yAxis">
                                                            </div>                                                            
                                                        </td>
                                                        <td>
                                                            <div ng-show="column.isEdit">
                                                                <button class="btn btn-default btn-xs" ng-click="saveColumn(widget, column); column.isEdit = false"><i class="fa fa-save"></i></button>
                                                                <button class="btn btn-default btn-xs" ng-click="column.isEdit = false"><i class="fa fa-close"></i></button>
                                                                <button class="btn btn-default btn-xs" ng-click="deleteColumn($index, widget, column)"><i class="fa fa-trash"></i></button>
                                                            </div>
                                                            <div ng-hide="column.isEdit">
                                                                <button class="btn btn-default btn-xs" ng-click="column.isEdit = true"><i class="fa fa-pencil"></i></button>
                                                                <button class="btn btn-default btn-xs" ng-click="deleteColumn($index, widget, column)"><i class="fa fa-trash"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <!--                                <div class="form-group">
                                                                   <label class="col-sm-2">Dimensions</label>
                                                                   <div class="col-sm-4">
                                                                       <ui-select multiple on-select="selectedDimensions(dimension)" ng-model="dimension" theme="bootstrap" ng-disabled="disabled">
                                                                           <ui-select-match placeholder="Select Dimensions">{{$item.name}}</ui-select-match>
                                                                           <ui-select-choices repeat="dataDimension in dataDimensions | filter:$select.search">
                                                                               {{dataDimension.displayName}}
                                                                           </ui-select-choices>
                                                                       </ui-select>                                    
                                                                   </div>
                                                                   <label class="col-sm-2">Filter</label>
                                                                   <div class="col-sm-4">
                                                                       <input type="text" class="form-control" placeholder="Filter">
                                                                   </div>
                                                               </div>-->

                                <!--                                <div class="form-group">
                                                                    <label class="col-sm-2">Sort</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" class="form-control" placeholder="Sort">
                                                                    </div>
                                
                                                                    <label class="col-sm-2">Widget Title</label>
                                                                    <div class="col-sm-4">
                                                                        <input type="text" class="form-control" placeholder="title" ng-model="widget.test">
                                                                    </div>
                                                                </div>-->

                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <label>Preview
                                            <label class="label-warning badge" ng-click="showPreviewChart = !showPreviewChart">
                                                <i class="fa" ng-class="{'fa-angle-down': !showPreviewChart, 'fa-angle-up': showPreviewChart}"></i></label>
                                        </label>
                                    </div>
                                    <div ng-show="showPreviewChart">
                                        <div class="col-md-12">
                                            <div class="box-body chart-responsive" ng-if="previewChartType === 'line'">
                                                <div line-Chart-Url='{{previewColumn.previewUrl}}' widget-Columns="{{previewColumn.columns}}" line-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                            </div> 
                                            <div class="box-body chart-responsive" ng-if="previewChartType === 'area'">
                                                <div class="svg-container" area-Chart-Url='{{previewColumn.previewUrl}}' area-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                            </div> 
                                            <div class="box-body chart-responsive" ng-if="previewChartType === 'bar'">
                                                <div bar-Chart-Url='{{previewColumn.previewUrl}}'  widget-Columns="{{previewColumn.columns}}" bar-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                            </div> 
                                            <div class="box-body chart-responsive" ng-if="previewChartType === 'pie'">
                                                <div pie-Chart-Url='{{previewColumn.previewUrl}}' pie-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                            </div> 
                                            <div class="box-body chart-responsive" ng-if="previewChartType === 'donut'">
                                                <div donut-Chart-Url='{{previewChartUrl}}' donut-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                            </div> 
                                            <div class="box-body chart-responsive" ng-if="previewChartType === 'groupedBar'">
                                                <div grouped-Bar-Chart-Url='{{previewChartUrl}}' grouped-Bar-Chart-Directive style="min-height:{{widget.minHeight}}"></div>
                                            </div> 
                                            <div class="box-body chart-responsive" ng-if="previewChartType === 'table'"  style="overflow: auto;">
                                                <div dynamic-Table dynamic-Table-Url="{{previewColumn.previewUrl}}" widget-Id="{{previewColumn.id}}" widget-Columns="{{previewColumn.columns}}"></div>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer" style="padding:10px;background-color:#9DD6D7">
                            <button class="btn btn-primary" ng-click="save(widget)" data-dismiss="modal"><span class="fa fa-save"></span> SAVE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>